<div class="main text-center">
	<div class="search-main">
		<h1>Welcome to Sentiment Analysis! </h1>
		<p>Type in something (e.g. Donald Trump, Thailand, penguins) you want to get the world's current sentiment on.</p>
		 <%= form_tag "/calculate", method: "get", id: 'teams_search', class: "navbar-form navbar-left" do %>
			<div class="form-group">
				<%= text_field_tag 'search', params[:searchterm], class: "form-control", placeholder: "Search term..." , autofocus: true %>
				<button class="btn btn-default">
					<span class="glyphicon glyphicon-search" type="submit"></span>
				</button>
			</div>
		<% end %>
	</div>
</div>